.container {
   font-family: "IBM Plex Sans", sans-serif;
   font-weight: 400;
   color: #2e3333;
   &.comp-header {
      border-bottom: 1px solid #eee;
   }
   &.comp-menu {
      background-color: #f3f5f5;
   }
}

header {
   width: 96vw;
   max-width: 1200px;
   margin: 0 auto;
   img {
      height: 55px;
   }
}
.restaurant-info {
   width: 96vw;
   max-width: 1200px;
   margin: 0 auto;
   padding: 30px 0;
   display: flex;
   align-items: center;
   div {
      flex: 1;
      margin-right: 30px;
      h1 {
         font-size: 32px;
         font-weight: 900;
         margin-bottom: 35px;
      }
      p {
         font-size: 19px;
         line-height: 150%;
         font-weight: 300;
         color: #868a8a;
      }
   }
   img {
      max-width: 350px;
      height: 100%;
      border-radius: 5px;
      object-fit: cover;
   }
}

.content {
   width: 96vw;
   max-width: 1200px;
   margin: 0 auto;
   padding: 30px 0;
   display: flex;
   justify-content: space-between;
   .menu-items {
      flex: 1;
      margin-right: 30px;
      section {
         margin-bottom: 25px;
         h2 {
            font-size: 24px;
            margin-bottom: 20px;
            font-weight: 900;
         }
         .meal-list {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            .meal-card {
               width: calc(100% / 2 - 10px);
               height: 160px;
               display: flex;
               justify-content: space-between;
               padding: 15px;
               margin-bottom: 20px;
               background-color: #fff;
               border-radius: 5px;
               box-sizing: border-box;
               h3 {
                  font-size: 18px;
                  margin-bottom: 10px;
                  line-height: 140%;
               }
               p {
                  font-size: 14px;
                  font-weight: 300;
                  color: #868a8a;
                  line-height: 140%;
                  margin-bottom: 15px;
               }
               .price {
                  font-size: 17px;
                  font-weight: 300;
                  color: #868a8a;
                  &::after {
                     content: "€";
                     margin-left: 5px;
                  }
               }
               .popular {
                  color: #fc8002;
                  font-size: 12px;
                  font-weight: 600;
                  &::before {
                     content: "★";
                     font-size: 14px;
                     margin: 0 5px 0 15px;
                  }
               }
               img {
                  width: 130px;
                  height: 100%;
                  object-fit: cover;
                  border-radius: 5px;
                  margin-left: 10px;
               }
            }
         }
      }
   }
   .cart {
      width: 350px;
      height: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      padding: 15px;
      background-color: #fff;
      border-radius: 5px;
      color: #868a8a;
   }
}
